@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

:root{
    --orangeColor: #FF8101;
    --greenColor: #82FD0B;
    --mainFont: 'Noto Sans JP', sans-serif;
}

$body-color: floralwhite;
$heading-color: #000;

*,html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $body-color;
    font-family: var(--mainFont);
}

header{
    width: 100%;
    height: auto;
    background-color: var(--orangeColor);
}
.top__nav{
    display: flex;
    padding: 1em;
    justify-content: space-between;
    height: 50px;
    max-height: 50px;
    align-items: center;
    div{
        ul{
            display: flex;
            gap: 5px;
            justify-content: space-between;
            li{
                list-style: none;
                font-weight: 300;
                font-size: .8em;
                color: #fff;
                position: relative;
                i{
                    font-size: 2em;
                }
                &:after{
                    content: "";
                    border-right: 1px solid #fff;
                    position: absolute;
                    height: 3em;
                    top: -7px;
                }
            }
        }
    }
}

// Slider Section
#topmain{
    width: 100%;
}
.main__top{
    max-width: 100%;
    padding: 1em;
    height: 300px;
    background-color: var(--greenColor);
    &--slider{

    }
    &--featured{

    }
}

#middletier{
    h1{
        color: $heading-color;
        font-size: 3em;
    }
}

// Media Queries for Screens

@media only screen and (min-device-width: 768px) {

}