@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

:root {
    --orangeColor: #FF8101;
    --greenColor: #82FD0B;
    --mainFont: 'Noto Sans JP', sans-serif;
    --menuColor: #3d4c58;
}

$body-color: floralwhite;
$heading-color: #000;

*,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $body-color;
    font-family: var(--mainFont);
}

.container{
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: auto;
    // background-color: var(--orangeColor);
}

.top__nav {
    width: 100%;
    display: flex;
    padding: 1em;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    &--strip{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    div {
        ul {
            display: flex;
            gap: 5px;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;

            li {
                list-style: none;
                a{
                    text-decoration: none;
                    font-weight: 400;
                    font-size: 1em;
                    color: var(--menuColor);
                }
            }
        }
    }
}
.logo{
    height: auto;
    width: 50%;
    img{
        width: 100%;
    }
}
.menu__icon{
    i{
        font-size: 2em;
        color:  #fff;
        background-color: var(--orangeColor);
    }
}
.menu{
    display: none;
}
.request__quote{
    margin: 2em;
    button{
        padding: 1em;
        text-transform: uppercase;
        font-weight: 500;
        font-family: var(--mainFont);
        background: #000;
        color: #fff;
        border: none;
        box-shadow: 2px 2px 2px #ff8101;
    }
}
.tollfree{
    h4{ 
        display: flex;
        justify-items: center;
        gap: 5px;
        color: var(--orangeColor);
    }
}

// Slider Section
#topmain {
    width: 100%;
}

.main__top {
    width: 100%;
    // padding: 1em;
    // background: var(--orangeColor);

    //background-color: var(--greenColor);
    &--slider {
        position: relative;
        img{
            width: 100%;
            filter: grayscale(100%);
        }
    }
    &--byline{
        position: absolute;
        background-color: #FF8101A6;
        top: 40%;
        color: #fff;
        width: 90%;
        padding: 1em;
        span{
            font-size: 1em;
            font-weight: 200;
            display: flex;
            align-items: center;
            i{
                background: #000;
                padding: 5px;
                border-radius: 50%;
            }
        }
    }

    &--featured {}
}

#middletier {
    h1 {
        color: $heading-color;
        font-size: 3em;
    }
}

// Media Queries for Screens

@media only screen and (min-device-width: 768px) {}